---
import { products } from '@/const/products'
import AddToCartIcon from '@/components/icons/AddToCart.astro'
import StarsIcon from '@/components/icons/Starts.astro'
import Intro from '@/components/Intro.astro'
---
<main class="flex flex-col justify-center items-center gap-5 md:gap-10 lg:gap-20">

  <Intro />

  <article class="grid grid-cols-1 gap-y-5">
    <section class="grid grid-cols-1 md:grid-cols-3">
      <picture class="hidden col-start-1 col-end-2 md:flex justify-center items-center">
        <img 
          decoding="async"
          src="/img/recursos/gif-example.gif" 
          alt="Gif saludando a los usuarios"
        />
      </picture>
      
      <article class="col-start-1 col-end-2 md:col-start-2 md:col-end-4">
        <div class="swiper size-full">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                class="size-full rounded-lg"
                decoding="async"
                loading="lazy" 
                decoding="async"
                src="/img/recursos/slider/slider-image-3.webp" 
                alt="Imagen del Carrusel de LOGIN Centro Mayorista"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="size-full rounded-lg"
                decoding="async"
                loading="lazy" 
                decoding="async"
                src="/img/recursos/slider/slider-image-2.webp" 
                alt="Imagen del Carrusel de LOGIN Centro Mayorista"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="size-full rounded-lg"
                decoding="async"
                loading="lazy" 
                decoding="async"
                src="/img/recursos/slider/slider-image.webp" 
                alt="Imagen del Carrusel de LOGIN Centro Mayorista"
              />
            </div>
          </div>
          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        
        </div>
      </article>
    </section>
    <section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
      {
        products.map((product) => (
        <div class="w-full rounded-lg shadow bg-gray-800 border-gray-700">
          <a href={`/products/${product.id}`}>
            <img 
              decoding="async"
              loading="lazy"
              class="p-2 rounded-xl" 
              src={product.imageUrl} 
              alt={`Imagen del Producto ${product.name}`} 
            />
          </a>
          <div class="px-5 pb-5">
            <a href={`/products/${product.id}`}>
              <h5 class="text-xl font-bold tracking-tight text-orange-500/90">{product.name}</h5>
            </a>
            <div class="hidden sm:flex sm:flex-row gap-2 sm:gap-0 items-center mt-2.5 mb-5">
                <div class="flex items-center space-x-1 rtl:space-x-reverse">
                    <StarsIcon />
                </div>
                <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">5.0</span>
            </div>
            <div class="flex sm:flex-row gap-2 sm:gap-0 items-center justify-between">
              <span class="text-xl font-bold text-blue-400/90">${product.price}</span>

              <button class="hidden sm:block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <AddToCartIcon />
              </button>
            </div>
          </div>
        </div>
        ))
      }
    </section>
  </article>
</main>

<script>
  import Swiper from 'swiper/bundle'

  const swiper = new Swiper('.swiper', {
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    speed: 600,
    effect: 'fade',

    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })
</script>