---
import Typography from "@/components/Typography.astro"
import { sponsors } from "@/const/sponsors"
---

<section>
	<Typography as="h3" variant="h3" color="white" class:list={"text-center"}>
		Marcas
	</Typography>
	<Typography as="p" variant="body" color="neutral" class:list={"mt-4 text-center text-pretty"}>
		Log-in puede llevarse a cabo gracias a la colaboración de...
	</Typography>
	<div class="mt-12 grid select-none grid-cols-3 gap-2 md:gap-8">
		{
			sponsors.map(({ name, image, url }) => (
				<a
					class="company-link group relative flex h-24 items-center justify-center overflow-hidden md:h-32"
					title={`Visita la página del patrocinador ${name}`}
					href={url}
					target="_blank"
					rel="noopener noreferrer"
					aria-label={`Link con el logo de ${name} que lleva a ${url}`}
				>
					<img
            decoding="async"
						src={image.url}
						width={image.width}
						loading="lazy"
						height={image.height}
						fetchpriority="low"
						alt={`Logo de ${name}`}
						class="company-logo px-5 text-white transition group-hover:scale-110 group-focus:scale-110 md:px-4"
					/>
				</a>
			))
		}
	</div>
</section>

<style>
	.company-link {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
		transition: all 0.5s ease;
	}

	.company-link::before {
		content: "";
		position: absolute;
		inset: 0;
		display: block;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, transparent);
		opacity: 0;
		height: 50%;
		transition:
			opacity 0.2s ease-in-out,
			height 0.2s ease-in-out;
	}

	@media (prefers-reduced-motion) {
		.company-link::before {
			transition: none;
		}
	}

	.company-link:hover::before,
	.company-link:focus::before {
		opacity: 0.8;
		height: 90%;
		box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.75);
	}

	.company-link:hover .company-logo,
	.company-link:focus .company-logo {
		transform: scale(1.1);
	}

	@media (prefers-reduced-motion) {
		.company-link:hover .company-logo,
		.company-link:focus .company-logo {
			transform: scale(1);
		}
	}
</style>