---
import Layout from '@/layouts/Layout.astro'
import PdfIcon from '@/components/icons/Pdf.astro'
import AddToCart from '@/components/icons/AddToCart.astro'
import { products } from '@/const/products'

const { id } = Astro.params

const product = products.find((p) => p.id === id)

const { name, price, description, countProducts, imageUrl } = product
---
<Layout title={`Info del ${name} - LOGIN Centro Mayorista`}>
  <main class="flex flex-col gap-10 md:gap-20 justify-center items-center">
    <section class="flex flex-col md:flex-row gap-10 px-5 md:p-0">
      <picture>
        <img
          decoding="async"
          src={imageUrl}
          alt={`Imagen del producto ${name}`}
          data-count-products={countProducts}
          data-price-product={price}
          class="size-full md:size-[300px] rounded-lg"
          id="product-image"
        />
      </picture>

      <aside class="flex flex-col gap-5">
        <h2 class="font-bold text-2xl md:text-3xl text-blue-300/90"> {name} </h2>
        <h3 class="font-semibold text-xl md:text-2xl"> 
          <span class="text-red-500/90">${price}</span> 
          <span class="text-gray-500"> MXN </span>
        </h3>
        <p class="text-lg text-gray-300/90">
          {description}
        </p>

        <p class="text-lg">
          <span class="font-semibold"> Código: </span>  DN2479 <!-- {code} -->
        </p>

        <div class="flex flex-col md:flex-row gap-5">
          <button class="flex items-center rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-gray-900 text-white hover:border-indigo-500 focus:outline-none focus:ring-4 focus:ring-indigo-200">
            <PdfIcon /> Ver PDF
          </button>

          <aside class="flex gap-5">
            <input type="number" placeholder="Cantidad" class="rounded-lg border border-white text-center bg-transparent" />
            <button class="flex gap-2 items-center rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-gray-900 text-white hover:border-indigo-500 focus:outline-none focus:ring-4 focus:ring-indigo-200">
              <AddToCart /> Agregar al Carrito
            </button>
          </aside>
        </div>
      </aside>
    </section>

    <section class="flex w-full flex-col gap-5 justify-center items-center">
      <h2 class="text-center text-orange-400/90 font-bold text-3xl"> {name} </h2>
      <div class="flex w-full justify-between items-center px-2 md:px-10">
        <h2 class="font-semibold text-xl md:text-2xl">
          Costo Lote
        </h2>
        <h2 class="font-bold text-xl md:text-2xl text-orange-400/90">
          ${price} MXN
        </h2>
      </div>

      <hr
        class="h-[2px] w-full border-t-0"
        style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
      />

      <div class="flex w-full justify-between items-center px-2 md:px-10">
        <h2 class="font-semibold text-xl md:text-2xl">
          Cantidad de Articulos
        </h2>
        <h2 class="font-bold text-xl md:text-2xl text-blue-300/90">
          {countProducts}
        </h2>
      </div>
      
      <hr
        class="h-[2px] w-full border-t-0"
        style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
      />

      <div class="flex w-full justify-between items-center px-2 md:px-10">
        <h2 class="font-semibold text-xl md:text-2xl">
          Precio por Articulo
        </h2>
        <h2 class="font-bold text-xl md:text-2xl">
          <span id="price-piece" class="text-red-500/90"></span>
        </h2>
      </div>

      <hr
        class="h-[2px] w-full border-t-0"
        style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
      />

      <div class="flex w-full justify-between items-center px-2 md:px-10">
        <h2 class="font-semibold text-xl md:text-2xl">
          Condición
        </h2>
        <h2 class="font-bold text-xl md:text-2xl text-blue-300/90">
          Grado B
        </h2>
      </div>

      <hr
        class="h-[2px] w-full border-t-0"
        style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
      />

      <div class="flex w-full justify-between items-center px-2 md:px-10">
        <h2 class="font-semibold text-xl md:text-2xl">
          Ubicación
        </h2>
        <h2 class="font-bold text-xl md:text-2xl text-blue-300/90">
         Sucursal Atlalico
        </h2>
      </div>
    </section>
  </main>
</Layout>

<script>
  import { $ } from '@/lib/dom-selector'

  const $imageProduct = $('#product-image') as HTMLImageElement
  const $pricePiece = $('#price-piece') as HTMLSpanElement

  const { countProducts, priceProduct } = $imageProduct.dataset

  const totalPiece = +priceProduct / +countProducts

  $pricePiece.textContent = `$${Math.round(totalPiece)} MXN`
</script>